<section>
  <table class="table-members">
    <thead>
      <th></th>
      <th>First name</th>
      <th>Last name</th>
      <th>Role</th>
      <th *ngIf="isConfig && currentMember && currentMember?.member?.id != authUser.id"></th>
    </thead>

    <tbody>
      <tr></tr>
      <tr *ngFor="let member of members">
        <td><i class="fas fa-user-circle"></i></td>
        <td>{{ member.member.firstname }}</td>
        <td>{{ member.member.lastname }}</td>
        <td>{{ member.role }}</td>
        <td *ngIf="isConfig && currentMember && currentMember?.member?.id != member.member.id" (click)="deleteWorkspaceMember(member)"><i style="color: red; align-items: center; cursor: pointer" class="fas fa-times"></i></td>
      </tr>
    </tbody>
  </table>
</section>

