<section>
  <div class="add-member">
    <form [formGroup]="workSpaceMemberForm" (ngSubmit)="onSubmitWorkSpaceMemberForm()">
      <label for="email">Email
        <input type="text" formControlName="email" id="email" placeholder="Email">
      </label>
      <button type="submit">Add member</button>
    </form>
    <div *ngIf="alert && alert.type=='ERROR'" class="error-msg">
      <i class="fas fa-exclamation-triangle"></i>
      {{alert.message}}
    </div>
  </div>
</section>
