.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid grey;
  border-radius: 8px;
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 8px 15px;
}

.content-header h2 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.content-header p {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.content-body {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 25px;
  height: 60%;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.channel-message .fas {
  font-size: 1.6rem;
  padding-right: 5px;
  color: #302b63;
}

.other-member {
  color: #E14D2D !important;
}

.channel-message p {
  font-size: 13px;
}

.channel-message-user {
  display: flex;
  align-items: center;
}

.channel-message-content {
  margin-top: -18px;
  padding-left: 30px;
}

.content-footer {
  margin: 21px auto;
}

.content-footer textarea {
  resize: none;
  border: 1px solid grey;
  border-radius: 8px;
  width: 97%;
  height: 50px;
  padding: 12px;
}

.chat-footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.chat-footer button {
  border-radius: 5px;
  padding: 5px 10px;
  background: #302b63;
  color: #fff;
  cursor: pointer;
}
