<div class="content-header" *ngIf="currentChannel">
  <h2># {{ currentChannel.name }}</h2>
</div>

<div class="content-body" *ngIf="currentChannel && currentChannel.messages">
  <div class="channel-message" *ngFor="let message of currentChannel.messages.reverse();">
    <div class="channel-message-user">
      <i class="fas fa-user-circle" [class]="{'other-member': message?.member?.member?.id != authUser.id}"></i>
      <p><strong>{{ message?.member?.member?.firstname }}&nbsp;{{ message?.member?.member?.lastname }}</strong>&nbsp;&nbsp;<i>{{ message.addedAt }}</i></p>
    </div>
    <div class="channel-message-content">
      <p>{{ message.content }}</p>
    </div>
  </div>
</div>

<div class="content-footer" *ngIf="currentChannel">
  <form [formGroup]="messageForm" (ngSubmit)="onSubmitMessageForm()">
    <textarea placeholder="Write a message..." formControlName="content" required></textarea>
    <div class="chat-footer">
      <button type="submit"><i class="fas fa-paper-plane"></i></button>
    </div>
  </form>
</div>
