form {
  max-width:768px;
  border:1px solid #ddd;
  padding:3vw;
  display:flex;
  flex-direction:column;
  border-radius:5px;
}

label {
  margin-bottom:15px;
  position:relative;
  border-bottom:1px solid #ddd;
}

input {
  width:100%;
  padding:10px 0;
  margin-top:20px;
  border:none;
  outline:none;
}

input::placeholder {
  opacity:0;
}

span {
  position:absolute;
  top:0;
  left:0;
  transform:translateY(30px);
  font-size:0.825em;
  transition-duration:300ms;
}

button {
  padding:15px 0;
  margin-top:20px;
  background:#302b63;
  color:#fff;
  border:1px solid #302b63;
  cursor:pointer;
  border-radius:3px;
}
