<section>
  <div class="add-channel">
    <form [formGroup]="channelForm" (ngSubmit)="onSubmitChannelForm()">
      <label for="name">Name
        <input type="text" formControlName="name" id="name" placeholder="Name">
      </label>
      <button type="submit">Add channel</button>
    </form>
  </div>
</section>
